<div class="text-center" *ngIf="isLogged; else loggedOut">
  <h2>Вы вошли в систему</h2>
</div>

<ng-template #loggedOut>
  <form class="form-signip w-100 m-auto" #f="ngForm" (ngSubmit)="onLogin()" novalidate>
    <img class="mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Авторизация</h1>
  
    <div class="form-floating">
      <input type="username" class="form-control" id="floatingInput" placeholder="user1" name="username" [(ngModel)]="username" required>
      <label for="floatingInput">Имя аккаунта</label>
    </div>
      
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password" [(ngModel)]="password" required>
      <label for="floatingPassword">Пароль</label>
    </div>
  
    <button class="btn btn-primary w-100 py-2" type="submit" [disabled]="!f.valid" >Войти</button>
    <p class="mt-5 mb-3 text-body-secondary">Ivan Shumovich - Graduation project</p>
  </form>
  <div *ngIf="f.submitted && isLoginFail" class="alert alert-danger justify-content-center">Ошибка входа</div>
</ng-template>