<div class="sidebar" [ngClass]="collapsed ? 'sidebar-collapsed': ''">
    <div class="logo-container">
        <button class="logo" (click)="toggleCollapse()">A</button>
        <div class="logo-text" @fadeInOut *ngIf="collapsed">CRM</div>
        <button class="btn-close" @rotate *ngIf="collapsed" (click)="closeSidebar()">
            <!-- <i class="fal fa-times close-icon"></i> -->
        </button>
    </div>
    <ul class="sidebar-nav">
        <li class="sidebar-nav-item" >  <!--*ngFor="let data of navData"-->
            <a class="sidebar-nav-link" 
                routerLink="/home" 
                routerLinkActive="active" 
                [routerLinkActiveOptions]="{exact: true}">
                    <i class="sidebar-link-icon fa-solid fa-house"></i>
                    <span class="sidebar-link-text" @fadeInOut *ngIf="collapsed">Home</span>
            </a>
        </li>

        <!-- Authentication buttons -->
        <li class="sidebar-nav-item" *ngIf="!isLogged">
            <a class="sidebar-nav-link" 
                routerLink="/auth/signin" 
                routerLinkActive="active" 
                [routerLinkActiveOptions]="{exact: true}">
                    <i class="sidebar-link-icon fa-solid fa-right-to-bracket"></i>
                    <span class="sidebar-link-text" @fadeInOut *ngIf="collapsed">Signin</span>
            </a>
        </li>
        <li class="sidebar-nav-item" *ngIf="!isLogged">
            <a class="sidebar-nav-link" 
                routerLink="/auth/signup" 
                routerLinkActive="active" 
                [routerLinkActiveOptions]="{exact: true}">
                    <i class="sidebar-link-icon fa-solid fa-user-plus"></i>
                    <span class="sidebar-link-text" @fadeInOut *ngIf="collapsed">Signup</span>
            </a>
        </li>
        
        <!-- Manager buttons -->
        <li class="sidebar-nav-item" *ngIf="isLogged">
            <a class="sidebar-nav-link" 
                routerLink="/order/home" 
                routerLinkActive="active" 
                [routerLinkActiveOptions]="{exact: true}">
                    <i class="sidebar-link-icon fa-solid fa-folder"></i>
                    <span class="sidebar-link-text" @fadeInOut *ngIf="collapsed">Orders</span>
            </a>
        </li>
        <li class="sidebar-nav-item" *ngIf="isLogged">
            <a class="sidebar-nav-link" 
                routerLink="/transportation-offer/home" 
                routerLinkActive="active" 
                [routerLinkActiveOptions]="{exact: true}">
                    <i class="sidebar-link-icon fa-solid fa-file"></i>
                    <span class="sidebar-link-text" @fadeInOut *ngIf="collapsed">Offers</span>
            </a>
        </li>
        <li class="sidebar-nav-item" *ngIf="isLogged">
            <a class="sidebar-nav-link" 
                routerLink="/client/home" 
                routerLinkActive="active" 
                [routerLinkActiveOptions]="{exact: true}">
                    <i class="sidebar-link-icon fa-solid fa-circle-user"></i>
                    <span class="sidebar-link-text" @fadeInOut *ngIf="collapsed">Clients</span>
            </a>
        </li>
        <li class="sidebar-nav-item" *ngIf="isLogged">
            <a class="sidebar-nav-link" 
                routerLink="customs/home" 
                routerLinkActive="active" 
                [routerLinkActiveOptions]="{exact: true}">
                    <i class="sidebar-link-icon fa-solid fa-person-military-pointing"></i>
                    <span class="sidebar-link-text" @fadeInOut *ngIf="collapsed">Customs</span>
            </a>
        </li>
        <li class="sidebar-nav-item" *ngIf="isLogged"> 
            <a class="sidebar-nav-link" 
                routerLink="sender/home" 
                routerLinkActive="active" 
                [routerLinkActiveOptions]="{exact: true}">
                    <i class="sidebar-link-icon fa-solid fa-person-arrow-up-from-line"></i>
                    <span class="sidebar-link-text" @fadeInOut *ngIf="collapsed">Senders</span>
            </a>
        </li> 
        <li class="sidebar-nav-item" *ngIf="isLogged">
            <a class="sidebar-nav-link" 
                routerLink="recipient/home" 
                routerLinkActive="active" 
                [routerLinkActiveOptions]="{exact: true}">
                    <i class="sidebar-link-icon fa-solid fa-person-arrow-down-to-line"></i>
                    <span class="sidebar-link-text" @fadeInOut *ngIf="collapsed">Recipients</span>
            </a>
        </li>
        <li class="sidebar-nav-item" *ngIf="isLogged">
            <a class="sidebar-nav-link" 
                routerLink="cargo/home" 
                routerLinkActive="active" 
                [routerLinkActiveOptions]="{exact: true}">
                    <i class="sidebar-link-icon fa-solid fa-box"></i>
                    <span class="sidebar-link-text" @fadeInOut *ngIf="collapsed">Cargos</span>
            </a>
        </li>

        <!-- Scheduler buttons -->
        <li class="sidebar-nav-item" *ngIf="isLogged">
            <a class="sidebar-nav-link" 
                routerLink="driver/home" 
                routerLinkActive="active" 
                [routerLinkActiveOptions]="{exact: true}">
                    <i class="sidebar-link-icon fa-solid fa-person-biking"></i>
                    <span class="sidebar-link-text" @fadeInOut *ngIf="collapsed">Drivers</span>
            </a>
        </li>
        <li class="sidebar-nav-item" *ngIf="isLogged">
            <a class="sidebar-nav-link" 
                routerLink="vehicle/home" 
                routerLinkActive="active" 
                [routerLinkActiveOptions]="{exact: true}">
                    <i class="sidebar-link-icon fa-solid fa-truck-front"></i>
                    <span class="sidebar-link-text" @fadeInOut *ngIf="collapsed">Vehicles</span>
            </a>
        </li>

        <!-- Admin buttons -->
        
        <!-- Quit button -->
        <li class="sidebar-nav-item" *ngIf="isLogged">
            <a class="sidebar-nav-link" 
                routerLinkActive="active" 
                [routerLinkActiveOptions]="{exact: true}"
                (click)="onLogOut()">
                    <i class="sidebar-link-icon fa-solid fa-right-from-bracket"></i>
                    <span class="sidebar-link-text" @fadeInOut *ngIf="collapsed">Quit</span>
            </a>
        </li>
    </ul>
</div>