<div class="container" style="background-color: #212529; width: 500px; height: 700px;">
    <div mat-dialog-title>
        <h2 style="text-align: center; color: white"><strong>Client Form</strong></h2>
    </div>
    <div mat-dialog-content>
        <div class="nameInput" style="display: flex; justify-content: center; align-items: center;">
            <mat-form-field style="width: 400px;">
                <mat-label>Name</mat-label>
                <input [(ngModel)]="data.name_client" matInput type="text">
                <mat-icon matSuffix fontIcon="face"></mat-icon>
            </mat-form-field>
        </div>
        <div class="locationInput" style="display: flex; justify-content: center; align-items: center;">
            <mat-form-field style="width: 400px;">
                <mat-label>Location</mat-label>
                <input [(ngModel)]="data.location_client" matInput type="text">
                <mat-icon matSuffix fontIcon="location_on"></mat-icon>
            </mat-form-field>
        </div>
        <div class="workNumberInput" style="display: flex; justify-content: center; align-items: center;">
            <mat-form-field style="width: 400px;">
                <mat-label>Work number</mat-label>
                <input [(ngModel)]="data.work_number_client" matInput type="text">
                <mat-icon matSuffix fontIcon="call"></mat-icon>
            </mat-form-field>
        </div>
        <div class="taxNumberInput" style="display: flex; justify-content: center; align-items: center;">
            <mat-form-field style="width: 400px;">
                <mat-label>Tax number</mat-label>
                <input [(ngModel)]="data.tax_number_client" matInput type="text">
                <mat-icon matSuffix fontIcon="account_balance"></mat-icon>
            </mat-form-field>
        </div>
        <div class="employeeInput" style="display: flex; justify-content: center; align-items: center;">
            <mat-form-field style="width: 400px;">
                <mat-label>Employee</mat-label>
                <input [(ngModel)]="data.employee_client" matInput type="text">
                <mat-icon matSuffix fontIcon="support_agent"></mat-icon>
            </mat-form-field>
        </div>
        <div class="descriptionInput" style="display: flex; justify-content: center; align-items: center; width: 500xp;">
            <mat-form-field style="width: 400px;">
                <mat-label>Description</mat-label>
                <textarea [(ngModel)]="data.description_client" matInput type="text"></textarea>
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions align="center">
        <button (click)="addOrEditClient(data)" mat-flat-button [mat-dialog-close]="data">Submit</button>
        <button mat-flat-button mat-dialog-close="true" color="warn">Cancel</button>
    </div>
</div>